body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: olive
}

.purple{
    color: #7b07ff;
}

.border {
    border: 3px solid greenyellow;
}

#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
    color: hsl(189, 96%, 18%);
}

.tocnumber {
    color: black;
    
}


.pekemon{
    display: inline-block;
}

.img{
    display: block;
}
.butoon12{
    width: 80px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    border-radius: 10px 0 10px;
}