/* Coolors Exported Palette - https://coolors.co/0d121f-92d4e0-dabda9-060607-22242d-b8c0ff */

/* CSS HEX */
--rich-black: #0D121Fff;
--non-photo-blue: #92D4E0ff;
--desert-sand: #DABDA9ff;
--black: #060607ff;
--raisin-black: #22242Dff;
--periwinkle: #B8C0FFff;

/* CSS HSL */
--rich-black: hsla(223, 41%, 9%, 1);
--non-photo-blue: hsla(189, 56%, 73%, 1);
--desert-sand: hsla(24, 40%, 76%, 1);
--black: hsla(240, 8%, 3%, 1);
--raisin-black: hsla(229, 14%, 15%, 1);
--periwinkle: hsla(233, 100%, 86%, 1);

/* SCSS HEX */
$rich-black: #0D121Fff;
$non-photo-blue: #92D4E0ff;
$desert-sand: #DABDA9ff;
$black: #060607ff;
$raisin-black: #22242Dff;
$periwinkle: #B8C0FFff;

/* SCSS HSL */
$rich-black: hsla(223, 41%, 9%, 1);
$non-photo-blue: hsla(189, 56%, 73%, 1);
$desert-sand: hsla(24, 40%, 76%, 1);
$black: hsla(240, 8%, 3%, 1);
$raisin-black: hsla(229, 14%, 15%, 1);
$periwinkle: hsla(233, 100%, 86%, 1);

/* SCSS RGB */
$rich-black: rgba(13, 18, 31, 1);
$non-photo-blue: rgba(146, 212, 224, 1);
$desert-sand: rgba(218, 189, 169, 1);
$black: rgba(6, 6, 7, 1);
$raisin-black: rgba(34, 36, 45, 1);
$periwinkle: rgba(184, 192, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-right: linear-gradient(90deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-bottom: linear-gradient(180deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-left: linear-gradient(270deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-top-right: linear-gradient(45deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-bottom-right: linear-gradient(135deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-top-left: linear-gradient(225deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-bottom-left: linear-gradient(315deg, #0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);
$gradient-radial: radial-gradient(#0D121Fff, #92D4E0ff, #DABDA9ff, #060607ff, #22242Dff, #B8C0FFff);